main {
  flex: 1;
  display: flex;  

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.main__content {
  position: relative;
  
  width: 100%;
  max-width: 1440px;
  margin: auto auto 0;
  padding: 24px 24px 228px;
  display: flex;
  gap: 29px;
  flex-direction: column;
}

.main__content .logo {
  width: 250px;
  height: auto;
}

.main__content span {
  font-size: 1.5rem;
  line-height: 1.75rem;

  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.main__content .controll {
  display: flex;
  align-items: center;
  column-gap: 20px;

  /* padding: 0 10px; */
  width: 100%;
  max-width: 300px;
}

.controll button {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--tertiary);
}
 
.controll button:disabled {
  background: var(--primary);
}


.controll button svg {
  margin: auto;
  width: 22px;
  height: auto;
}
.controll button svg path  {
  stroke: var(--background) !important;
  border: 1.45856px solid #14061F;
}

.controll span {
  font-weight: 400;

  font-size: 1.5rem;
  line-height: 1.75rem;
}


.music__mobile {
  
  position: absolute;
  bottom: 20px;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
 
  /* align-items: center; */
}

.music__mobile svg {
  width: 20px;
  height: 18px;
}

.music__mobile h2 {
  font-size: 2rem;
  line-height: 2.313rem;

  font-weight: 400;
}

.music__mobile span {
  max-width: 300px;
  width: 100%;
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  
}


@media(max-width: 1080px) {
  .main__content {
    padding: 24px 24px 150px;
  }
}

@media(max-width: 768px) {

  
  .main__content {
    padding: 0 24px 72px;
  }

  .main__content .controll {
    margin-bottom: 150px;
  }

  .music__mobile {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    visibility: visible;
  }

  .music__mobile div {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }

  .music__mobile h2 {
    font-size: 2rem;
    color: var(--tertiary);
    line-height: 2.375rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  .music__mobile h2 svg {
    width: 20px;
    height: auto;
  }

  .music__mobile h3 {
    font-size: 1rem;
    line-height: 1.125rem;
    text-transform: uppercase;
    opacity: 0.6;
  }
}
/* Mobile 650 */
@media(max-width: 650px) {
  .main__content .logo {
    width: 140px;
  }


  .main__content strong {
    font-size: 1.125rem;
    line-height: 1.25rem;
  
    margin: 16px 0 24px;
  }

  .main__content .controll {
    column-gap: 30px;
    margin-bottom: 190px;
  }

  .controll button {
    width: 32px;
    height: 32px;
  }

  .controll button svg {
    width: 17px;
  }

}